.noti {
	background: var(--fondo);
	width: fit-content;
	padding: 20px 0;
    width: 50%;
	display: flex;
	flex-direction: column;
	border: 1px solid rgb(138, 158, 226);
	position: fixed;
	z-index: 2;
	top: -100%;
	right: 0;
	left: 0;
	margin: auto;
	transition: top 0.5s ease;
	&.mostrar {
		top: 10px;
	}
	& h2 {
		color: white;
		margin: 10px auto 20px auto;
	}
	& p {
		color: white;
		font-size: 1.2rem;
        margin: auto;
        max-width: 90%;
	}
}
